@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;500&display=swap');

body{
  font-family: 'Roboto Flex', sans-serif;
}
header{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

header img{
  padding-bottom: 40px;
}

nav {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  list-style: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 311px;
}


.pokemon-data {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f6f6f6;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  
}

.pokemon-card {
  margin: 5px;
  flex-basis: 20%;
}

.pokemon-image {
    width:200px; /* Ancho de la imagen */
    height: 200px; /* Altura de la imagen */
    background-color: #ddd;
  }
  
  .pokemon-num {
    font-weight: 100;
  }
  
  .pokemon-name{
    font-size: 25px;
    font-weight: 500;
  }