@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;500&display=swap');

body{
  font-family: 'Roboto Flex', sans-serif;
}
header{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

header img{
  padding-bottom: 40px;
}

nav {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  list-style: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 311px;
}


.pokemon-data {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f6f6f6;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  
}

.pokemon-card {
  margin: 5px;
  flex-basis: 20%;
}

.pokemon-image {
  width:200px; /* Ancho de la imagen */
  height: 200px; /* Altura de la imagen */
  background-color: #ddd;
}

.pokemon-num {
  font-weight: 100;
}

.pokemon-name{
  font-size: 25px;
  font-weight: 500;
}

.pokemon-type{
  width:55px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(118, 234, 105);
}

.pokemon-types {
  display: flex;
}

.pokemon-types span {
  margin-right: 5px;

}

.grass-type {
  background-color: #9BCC50;
}

.poison-type {
  background-color: #B97FC9;
  color: #ffffff;
}

.fire-type {
  background-color: #FFA500;
  color: #ffffff;
}

.flying-type{
  background-image: linear-gradient(to bottom, #5aa1f1 50%, #cac2c2 50%);
}

.water-type{
  background-color: #479fd9;
  color: #ffffff;
}

.bug-type{
  background-color: #729F3F;
}

.normal-type{
  background-color: #A4ACAF;
}

.electric-type{
  background-color: #EED535;
}

.ground-type{
  background-image: linear-gradient(to bottom, #EED535 50%, #AB9842 50%);
}

.fairy-type{
  background-color: #FDB9E9;
}

.fighting-type{
  background-color: #D56723;
  color: #ffffff;
}

.psychic-type{
  background-color: #F366B9;
  color: #ffffff;
}

.rock-type{
  background-color: #A38C21;
  color: #ffffff;
}

.steel-type{
  background-color: #9EB7B8;
  color: #ffffff;
}

.ice-type{
  background-color: #51C4E7;
}

.ghost-type{
  background-color: #7B62A3;
  color: #ffffff;
}

.dragon-type{
  background-image: linear-gradient(to bottom, #53A4CF 50%, #F16E57 50%);
}

.dark-type{
  background-color: #707070;
  color: #ffffff;
}